
nixon-gitops/ansible/inventory.ini

nixon-gitops/helm/values

nixon-gitops/charts/nixon-cluster-resources/values.yaml
nixon-gitops/charts/nixon-external-secrets-resources/values.yaml

nixon-gitops/.gitattributes
nixon-gitops/.devcontainer
nixon-gitops/.gitignore
nixon-gitops/.archived
nixon-gitops/.git

nixon-gitops/configuration/**/*-postgresql.yaml
nixon-gitops/configuration/base/values.yaml

nixon-gitops/terraform/**/vars.auto.tfvars
nixon-gitops/terraform/**/*.tfstate
nixon-gitops/terraform/**/*.tfstate.backup
nixon-gitops/terraform/**/.terraform.lock.hcl