
nixon-gitops/ansible/inventory.ini

nixon-gitops/helm/values

nixon-gitops/charts/cluster-resources/values.yaml

nixon-gitops/scripts

nixon-gitops/manifests

nixon-gitops/.gitattributes
nixon-gitops/.devcontainer
nixon-gitops/.gitignore
nixon-gitops/.archived
nixon-gitops/.git

nixon-gitops/configuration/**/*-postgresql.yaml

nixon-gitops/terraform/**/vars.auto.tfvars
nixon-gitops/terraform/**/*.tfstate
nixon-gitops/terraform/**/*.tfstate.backup
nixon-gitops/terraform/**/.terraform.lock.hcl